<%- include ('partial/header.ejs') %>
<section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
            <h1 class="title is-2 m-4 mt-6 ml-5">Agregar socio</h1>
        </h1>
      </div>
    </div>
  </section>
    <div class="container m-5 pl-5 pr-5">
        <% if (message != '') { %>
            <p class="text-center text-danger"><%= message %></p>
        <% } %>
        <form class="add-socio-form" action="/addsocio" method="post" enctype="multipart/form-data">
            <div class="field">
                <label class="label"> Nombre</label>
                <div class="control">
                    <input type="text" class="input is-primary" name="nombre_socio" id="nombre_socio" placeholder="Nombre del socio" required>
                </div>
            </div>
            <div class="field">
                <label class="label"> Negocio</label>
                <div class="control">
                    <div class="select is-info">
                        <select id="nombre_compania" name="nombre_compania" required>
                            <option selected disabled>Escoja el negocio</option>
                            <option value="14">DESEMPLEADO</option>
                            <% compania.forEach((s, index) => { %>
                                    <option value="<%= s.id_compania %>"><%= s.nombre_compania %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label"> Puesto</label>
                <div class="control">
                    <input type="text" class="input is-primary" name="puesto_socio" id="puesto_socio" placeholder="Puesto">
                </div>
            </div>
            <div class="field">
                <label class="label"> Direccion</label>
                <div class="control">
                    <input type="text" class="input is-primary" name="direccion_socio" id="direccion_socio" placeholder="Direccion" required>
                </div>
            </div>
            <div class="field">
                <label class="label"> Telefono</label>
                <div class="control">
                    <input type="text" class="input is-primary" name="telefono_socio" id="telefono_socio" placeholder="Telefono">
                </div>
            </div>
            <div class="field">
                <label class="label"> Membresia</label>
                <div class="control">
                    <div class="select is-info">
                        <select id="membresia_socio" name="membresia_socio" required>
                            <option selected disabled>Escoja la membresia</option>
                            <option value="0">INDIVIDUAL</option>
                            <option value="1">CORPORATIVA</option>
                        </select>
                    </div>
                </div>
            </div>
            <button type="submit" class="button is-primary">Agregar socio</button>
        </form>
    </div>
    <div class="field pl-5">
        <div class="control">
            <a class="button is-danger ml-5 mt-2 mb-2" href="/">
                Volver
            </a>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
      
        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {
      
          // Add a click event on each of them
          $navbarBurgers.forEach( el => {
            el.addEventListener('click', () => {
      
              // Get the target from the "data-target" attribute
              const target = el.dataset.target;
              const $target = document.getElementById(target);
      
              // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
              el.classList.toggle('is-active');
              $target.classList.toggle('is-active');
      
            });
          });
        }
      
      });
</script>
</body>
</html>